@{
    ViewData["Title"] = "Pokémon";
}

<h1>@ViewData["Title"]</h1>

<form>
    <label id="name">Titel:</label>
    <input type="text" name="name" value="" />

    <label id="hp">Hp:</label>
    <input type="number" name="description" value="" />

    <input type="submit" name="btn-submit" value="Skicka" />

</form>