@{
    ViewData["Title"] = "Convert";
}

<div class="text-center">
    <h1 class="display-4">Converter</h1>
    <label>Convert kilos to stones</label>
    <input type="text" name="kilos" value="" />
</div>